* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #252525;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-family: "Myriad Pro", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14pt;
}

body.index,
body.part_lit {
  background-image: url(../images/bg_index.jpg);
}

body.part1 {
  background-image: url(../images/bg_part1.jpg);
}

body.part2 {
  background-image: url(../images/bg_part2.jpg);
}

body.part3 {
  background-image: url(../images/bg_part3.jpg);
}

body.part4 {
  background-image: url(../images/bg_part4.jpg);
}

p {
	padding-bottom: 15px;
	text-align: justify;
	text-indent: 30pt;
  font-family: serif;
}

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #252525;
  background-image: url("../icons/loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

.document-slider-container {
  border-width: 1px;
  border-style: dotted;
  border-color: #252525;
  padding: 20px;
  margin-bottom: 15px;
}

.document-slider-container .document-slider {
  text-align: center;
}


.document-slider-container .document-slider-description {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
  font-size: small;
}

.index-exhibition-name {
  position: absolute;
  padding: 30px;
  top: 30px;
  left: 30px;
  background: url("../images/bg_container.png") repeat top center;
}

.index-exhibition-name h1,
.index-exhibition-name h2 {
  font-weight: normal;
}

.index-exhibition-name h1 {
  font-size: 1.4em;
}

.index-exhibition-name h2 {
  font-size: 0.7em;
}

.index-parts-block {
  position: absolute;
  top: 190px;
  left: 30px;
}

.index-parts-block a {
  color: #252525;
  text-decoration: none;
  clear: both;
}

.index-part-name {
  padding: 30px;
  background: url("../images/bg_container.png") repeat top center;
  margin-bottom: 15px;
}

.index-part-name,
.index-exhibition-name {
    display: none;
}

.index-footer {
  position: absolute;
  font-size: small;
  bottom: 0;
  right: 0;
  padding: 15px;
  background: url("../images/bg_container.png") repeat top center;
}

.no-indent {
  text-indent: 0;
}

.page-container {
  width: 80%;
  background: url("../images/bg_container.png") repeat top center;
  margin: 20px auto;
  padding: 30px;
  padding-bottom: 130px;
}

.part-header {
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 15px auto;
  border-bottom-color: #353535;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  width: 60%;
}

.header-navigation {
  text-align: center;
  font-size: small;
}

.footer-navigation {
  text-align: right;
}

.pp_loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
  background: #fff url(../icons/loader.gif) no-repeat center center;
  width: 70px;
  height: 70px;
  z-index: 999;
  opacity: 0.7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.pp_next, .pp_prev {
  cursor: pointer;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  position: fixed;
  text-align: center;
  border: 1px solid #111;
  color: #fff;
  -moz-box-shadow: 0px 0px 3px #000;
  -webkit-box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
}

.pp_next {
  right: -40px;
  background: #222 url(../icons/next.png) no-repeat center center;
}

.pp_prev {
  left: -40px;
  background: #222 url(../icons/prev.png) no-repeat center center;
}

#pp_thumbContainer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 65px;
  width: 100%;
}

#pp_thumbContainer .album {
  position: absolute;
  width: 200px;
  height: 65px;
  bottom: -90px;
}

.album .descr,
.pp_back {
  position: absolute;
  bottom: 0px;
  left: -16px;
  background: #222;
  text-align: center;
  border: 1px solid #111;
  padding: 5px;
  cursor: pointer;
  width: 229px;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 1px #fff;
  -moz-box-shadow: 1px 1px 4px #000;
  -webkit-box-shadow: 1px 1px 4px #000;
  box-shadow: 1px 1px 4px #000;
}

.pp_back {
  text-transform: uppercase;
  bottom: 140px;
  left: -180px;
  width: 160px;
}

#pp_thumbContainer .content {
  position: absolute;
  top: 0px;
  height: 155px;
  cursor: pointer;
}

#pp_thumbContainer img {
  border: 5px solid #fff;
  -moz-box-shadow: 1px 1px 7px #000;
  -webkit-box-shadow: 1px 1px 7px #000;
  box-shadow: 1px 1px 7px #000;
}

#pp_thumbContainer .content span {
  display: none;
}

.pp_preview {
  position: fixed;
  top: 150%;
  left: 50%;
}

.pp_preview img {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -moz-box-shadow: 1px 1px 7px #000;
  -webkit-box-shadow: 1px 1px 7px #000;
  box-shadow: 1px 1px 7px #000;
}

.pp_descr {
  height: 45px;
  line-height: 45px;
  font-size: 0.6em;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  text-align: center;
  color: #00021c;
}
